*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

body{
  max-width: 1600px;
}

a{
  text-decoration: none;
}

li a{
  list-style: none;
}

.container{
  width: 71%;
  max-width: 1600px;
  margin: 0 auto;
}

/* main style */
/* hero area */
section.hero-banner div.bg{
  background-image: url(../images/banner1.png);
  height: 808px;
}

section.hero-banner div.bg .content{
  padding: 180px 0 150px 630px;
  text-align: right;
}

section.hero-banner div.bg .content h1{
  color: #151414;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: normal;
}
section.hero-banner div.bg .content p{
  color: #444343;
  font-size: 16px;
  margin-bottom: 32px;
}

section.hero-banner div.bg .content button{
  background-color: #f15b22;
  width: 160px;
  height: 64px;
  border: none;
  border-radius: 5px;
}

section.hero-banner div.bg .content button:hover{
  background-color: green;
  cursor: pointer;
  box-shadow: 0px 6px 30px  green;
}
section.hero-banner div.bg .content button a{
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}


/* failure-story section */
section.failure-story{
  margin: 127px 322px 130px 206px;
}

section.failure-story .main-div{
  display: flex;
  gap: 87px;
  justify-content: space-between;
  align-items: center;
}

.main-div .div-2 h2{
  margin: 0 100px 24px 0;
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

.main-div .div-2 .p-1{
  margin-bottom: 16px;
  color: #444343;
  font-size: 16px;
}

.main-div .div-2 p{
  margin-bottom: 9px;
  color: #444343;
  font-size: 16px;
  word-spacing: 1px;
}

.main-div .div-2 p i{
  color: #16D887;
  margin-right: 5px;
}

/* plan area */
section.plan h2{
  margin-bottom: 55px;
  text-align: center;
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

section.plan div.parent{
  margin-bottom: 135px;
  display: flex;
  gap: 75px;
  justify-content: space-between;
  text-align: center;
}

section.plan div.parent h3{
  margin-bottom: 5px;
  color: #151414;
  font-size: 30px;
  font-weight: 700;
}

section.plan div.parent p{
  color: #737272;
  font-size: 25px;
  font-weight: 500;
}

/* quote area */
section.quote{
  margin-bottom: 130px;
}
section.quote .quote-bg{
  background-image: url(../images/watch.png), url(../images/gradient3.png);
  background-blend-mode: overlay;
  background-size: cover;
  width: 1140px;
  height: 300px;
  border-radius: 5px;
  padding: 59px 617px 59px 64px;
}

section.quote .quote-bg h2{
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

section.quote .quote-bg button{
  margin-top: 24px;
  background-color: #ffffff;
  width: 160px;
  height: 64px;
  border: none;
  border-radius: 5px;
}

section.quote .quote-bg button:hover{
  box-shadow: 0px 5px 30px 4px #ffffff;
  cursor: pointer;
}

section.quote .quote-bg button a{
  color: #f15b22;
  font-size: 20px;
  font-weight: 600;
}

/* footer area */
section.footer{
  background-color: #151414;
}

section.footer .footer-content{
  padding: 130px 0;
  display: flex;
  justify-content: space-between;
  gap: 331px;
}

.footer-content .div-1 h3{
  margin-bottom: 16px;
  color: #f8f8f8;
  font-size: 45px;
  font-weight: 700 ;
}

.footer-content .div-1 p{
  margin-bottom: 24px;
  color: #ffffff;
  font-size: 16px;
}

.footer-content .div-1 p a{
  color: #ffffff;
}

.footer-content .div-1 img{
  margin-right: 18px;
  width: 46px;
  height: 46px;
}

.footer-content .div-1 img:hover{
  transition: 1.2s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.footer-content .div-2 h3{
  margin-bottom: 31px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
}

.footer-content .div-2 form input.email{
  margin-bottom: 16px;
  padding: 21px 158px 21px 21px;
  color: #f3f3f3;
  font-size: 20px;
  background-color: #151414;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.footer-content .div-2 form input::placeholder{
  color: #f3f3f3;
  font-size: 18px;
}

.footer-content .div-2 form input.subscribe-btn{
  color: #f15b22;
  font-size: 20px;
  font-weight: 600;
  background-color: #ffffff;
  width: 170px;
  height: 64px;
  border: none;
  border-radius: 5px;
}

.footer-content .div-2 form input.subscribe-btn:hover{
  box-shadow: 0px 5px 30px 4px #ffffff;
  cursor: pointer;
}